/*Main*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
body {
    cursor: url("res/cursor.png"), auto;
    font-family: 'Monocraft', sans-serif;
    color: #e187ea;
    font-size: 20px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0%;
    text-align: center;
}
  

/*Text*/
@font-face {
    font-family: 'Monocraft';
    src: url('res/Monocraft.otf') format('opentype');
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/*Links*/
a:link {
    color: #e187ea;
}
a:visited {
    color: #e258b7;
}
#linkAsPicture {
    width: 48px;
    height: 48px;
}

/*Layout*/
#leftSidebar{
    float: left;
    width: 150px;
}
#rightSidebar{
    float: right;
    width: 150px;
}
#mainText {
    text-align: center;
    margin-top: 13%;
}

/*Images*/
.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
    width: 150px;
    height: 150px;
    border: 3px solid #e187ea;
    border-radius: 50%;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('res/background.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}
