/* Main */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
body {
    cursor: url("../assets/images/cursor.png"), auto;
    font-family: 'Monocraft', sans-serif;
    color: #e187ea;
    font-size: 20px;
}
header {
    padding: 10px 0;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
    font-size: 16px;
}
nav ul li {
    margin: 0 13px;
}
nav ul li a {
    color: #e187ea;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #e187ea;
    transition: border-color 0.3s;
}
nav ul li a:hover {
    border-color: #e187ea;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0%;
    text-align: center;
    font-size: 16px;
}

/* Lists */
.custom-list {
    padding-left: 10%;
    font-size: 16px;
    text-align: left;
}
  
.custom-list li {
    margin-bottom: 18px;
}

.custom-list li a{
    color: antiquewhite;
}
  

/* Text */
@font-face {
    font-family: 'Monocraft';
    src: url('../assets/fonts/Monocraft.otf') format('opentype');
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* Links */
a:link {
    color: #e187ea;
}
a:visited {
    color: #e187ea;
}
#linkAsPicture {
    width: 48px;
    height: 48px;
}

/* Layout */
#mainText {
    text-align: center;
    margin-top: 11%;
}

/* Images */
.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9%;
    width: 150px;
    height: 150px;
    border: 3px solid #e187ea;
    border-radius: 50%;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/images/background.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}
#imageWithBorder {
    border: 4px solid #e187ea;
}
